@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;1,700&display=swap');
* {
    scrollbar-width: thin;
    scrollbar-color: blue orange;
    font-family: 'Source Sans Pro', sans-serif;

}

body {
    margin: 0;
}

main {

    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */

}

.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

#mydiv {
    /* overflow: scroll; */
    overflow: auto;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 2em;



}


#mydiv::-webkit-scrollbar {
    width: 2vw;

}

#mydiv::-webkit-scrollbar-thumb {
    background-color: gray;


}

/* #mydiv::-webkit-scrollbar-track{
    background-color: green;
} */


img {
    max-height: 47em;
    cursor: pointer;
    margin-left: 30em;
    padding: 0.5em;
}

.before-dip{
    margin-right: 30em;

}

#chess {
    max-height: 24em;
}

#monstera {
    max-height: 24em;

}

.facetime-solos{

    max-height: 39em;

}

#kiss {
    max-height: 24em;
}

#peru{
    max-height: 36em;

}

.diptyque {
    margin: 1em;
}


#adansoni-screenshot{

    max-height: 20em;

}

#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;

}

#lightbox img {
    margin: 0;
    padding: 2px;
    border: 3px solid grey;
    max-height: 55em;

}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;

}

.links {
    all: inherit;
    cursor: pointer;
    /* padding: .5em; */
    color: white;
    font-size: 145%;
    text-shadow: 1px 2px 2px rgb(0 0 0 / 70%);

}

#play-pause {
    font-size: 3em;
    cursor: pointer;
    color: white;
    text-shadow: 1px 2px 3px rgb(0 0 0 / 70%);

}

.audio-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;

}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: .5em;
    margin-left: .5em;
    margin-right: .5em;

}









/* TEXT MODAL SANDBOX */







*, *::after, *::before {
    box-sizing: border-box;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    width: 500px;
    max-width: 80%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 70%);
    padding: 1em;
    border-radius: 4px;
    font-weight: 700;
    font-size: 107%;
    color:gray;
    text-shadow: 1px 2px 4px rgb(0 0 0 / 17%);


    /* glassmorphism */
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    text-shadow: 1px 2px 2px rgb(0 0 0 / 70%);
    font-family: 'Source Sans Pro', sans-serif;

  }
  
  .modal-body {
    padding: 10px 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(255, 255, 255, .5); */
    background-color: rgba(255, 255, 255, 0.9);









    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }



  .footer .open-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 145%;
    text-shadow: 1px 2px 2px rgb(0 0 0 / 70%);
    font-family: 'Source Sans Pro', sans-serif;


  }









/* 2532x1170 pixels at 460ppi */



    @media only screen and (max-width: 600px) {
        
        img {
            max-height: 21em;
            cursor: pointer;
            margin-left: 30em;
        }

        #chess {
            max-height: 15em;
        }
    
        #lightbox img {
            margin: 0;
            padding: 2px;
            border: 3px solid grey;
            max-height: 40em;
        
        }


      }


      @media only screen and (max-width: 900px) {
        
        img {
            max-height: 21em;
            cursor: pointer;
            margin-left: 30em;
        }

        #chess {
            max-height: 15em;
        }
    
        #lightbox img {
            margin: 0;
            padding: 2px;
            border: 3px solid grey;
            max-height: 40em;
        
        }


      }