*{
    scrollbar-width: thin;
    scrollbar-color: blue orange;

}


body{
    margin: 0;
}


main{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


.main-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

#mydiv {
    /* overflow: scroll; */
    overflow: auto;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

 

}


#mydiv::-webkit-scrollbar{
    width:2vw;

}

#mydiv::-webkit-scrollbar-thumb{
    background-color: gray;


}

/* #mydiv::-webkit-scrollbar-track{
    background-color: green;
} */



img{
    margin: 1em;
    max-height: 47em;
    cursor: pointer;

}

#chess{
    margin-left: 25em;
    margin-right: 25em;
    max-height: 24em;

}

#pillow{
    margin-left: 25em;
    margin-right: 25em;

}


#lightbox{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;

}

#lightbox.active{
    display: flex;
    justify-content: center;
    align-items: center;

}