* {
    scrollbar-width: thin;
    scrollbar-color: blue orange;

}


body {
    margin: 0;
}


main {

    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */

}


.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

#mydiv {
    /* overflow: scroll; */
    overflow: auto;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 2em;



}


#mydiv::-webkit-scrollbar {
    width: 2vw;

}

#mydiv::-webkit-scrollbar-thumb {
    background-color: gray;


}

/* #mydiv::-webkit-scrollbar-track{
    background-color: green;
} */



img {
    max-height: 47em;
    cursor: pointer;
    margin-left: 25em;

}

#chess {
    max-height: 24em;
}


#monstera {
    max-height: 30em;
}

#kiss {
    max-height: 36em;
    margin-right: 25em;



}

.diptyque {
    margin: 1em;
    max-height: 36em;


}







#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;

}

#lightbox img {
    margin: 0;
    padding: 2px;
    border: 3px solid grey;

}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;

}



#portfolio {
    all: inherit;
    cursor: pointer;

    padding: 1.5em;
    color: white;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 64%);

}



#play {
    font-size: 2em;
    cursor: pointer;
    color: white;
    text-shadow: rebeccapurple 0 0 10px;

}

.audio-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 1em;

}

#pause {
    font-size: 2em;
    cursor: pointer;
    color: white;
    text-shadow: rebeccapurple 0 0 10px;

}